.container {
    overflow: auto;
    width: 960px;
    margin: 0 auto;   
}

body {
    background-image: url('../images/dust_scratches.png');
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 150%;
    font-size: 18px;
    color: #777777;
    margin: 30px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    height: 70px;
    border-style: solid;
    margin-bottom: 30px;
    border: 1px solid #cccccc;
}

section {
    background-color: #ffffff;
    width: 650px;
    float: left;
    border: 1px solid #dddddd;
}

aside {
    background-color: #ffffff;
    width: 270px;
    float: left;
    margin-left: 20px;
    border-style: solid;
    border: 1px solid #dddddd;
}

footer {
    background-color: #666666;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border-style: solid;
    clear: both;
    position: fixed;
    width: 100%;
    border-top: 5px solid #4aaaa5;
}

p {

}

h2 {
    color: #4aaaa5;
}

h1 {
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
}

.name {
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    border: 0.5px solid #4aaaa5;
    background-color: #4aaaa5;
}

.navbar {
    float: left;
    padding: 20px;
    color: #777777;
}

.bioImage {
    width: 125px;
    height: 220px;
    float: left;
}

.contactInfo {}

.titles {
    border-bottom: 1px solid #cccccc;
}

a {
    color: #777777;
}

.clearfix {}